---
import HeroSection from "../sections/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import FeaturedSection from "../sections/FeaturedSection.astro";
import SupportSection from "../sections/SupportSection.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroSection />
    <SupportSection />
    <FeaturedSection />
  </main>
</Layout>

<style></style>
