---
---


<nav class=" pt-4 px-[75px]">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Left Section with SVG Icon -->
    <div class="flex items-center">
        <img src="/heroSection/swl-logo.svg" alt="logo"/>

    </div>

    <div class="flex items-center space-x-4 font-helvetica">
      <a href="#" class="text-slate-500 text-sm font-normal leading-tight hover:underline">Language Lessons</a>
      <a href="#" class="text-slate-500 text-sm font-normal leading-tight hover:underline">Language Exchange</a>
      <a href="#" class="text-slate-500 text-sm font-normal leading-tight hover:underline">Plans</a>
      <a href="#" class="text-slate-500 text-sm font-normal leading-tight hover:underline">Login</a>
      <button class=" bg-orange-500 px-3.5 py-2.5  rounded-lg text-white text-sm font-bold font-inter leading-none hover:bg-orange-600 hover:text-white  ">Sign Up</button>
    </div>
  </div>
</nav>

