---

---

<section class="bg-slate-50 px-[75px] py-[55px]">
  <div class="mx-auto flex items-center justify-between">
    <!-- Left Side -->
    <div class="w-1/3 flex flex-col justify-normal">
      <h1 class="w-90 text-slate-700 text-2xl font-bold leading-loose">
        Click play when it fits you
      </h1>

      <p
        class="w-96 text-slate-700 text-base font-normal font-helvetica leading-7">
        After you log in, you'll find inspiring teachers in the fun, relatable,
        real-life video lessons. The lessons focus on everyday situations, so
        you can become more confident when talking at work or with locals on the
        street. Find the topic and level you need.
      </p>
    </div>

    <!-- Right Side -->
    <div class="w-2/3 flex justify-end">
      <!-- Right Side -->
      <div class="w-2/3">
        <!-- Big Image -->
        <img
          src="/featuredSection/featured-section-hub.svg"
          alt="Big Image"
          class="w-full h-auto"
        />

        <!-- Small Images -->
        <div
          class="absolute top-1/4 right-1/4 transform translate-x-1/2 translate-y-1/2">
          <!-- Big Image -->
          <img
            src="/featuredSection/featured-section-learning-overview.svg"
            alt="Big Image"
            class="w-40 h-40"
          />

          <!-- Small Images -->
          <div class="relative">
            <img
              src="/featuredSection/featured-section-video-maximised.svg"
              alt="Small Image 1"
              class="w-24 h-24 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            />
          </div>

          <div class="relative">
            <img
              src="/featuredSection/featured-section-video-minimized.svg"
              alt="Small Image 2"
              class="w-24 h-24 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            />
          </div>

          <div class="relative">
            <img
              src="/featuredSection/featured-section-hub.svg"
              alt="Small Image 3"
              class="w-24 h-24 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
