---

---

<section class="bg-orange-50 px-[75px] py-[55px]">
  <div class="mx-auto flex justify-between">
    <!-- Left Side -->
    <div class="w-1/3 flex flex-col justify-around">
      <h1 class="w-90 text-slate-700 text-4xl font-bold leading-10">
        The best <br /> language learning <br />for internationals
      </h1>
      <p
        class="text-slate-700 text-lg font-normal font-helvetica leading-loose">
        Learn the language with your co-workers and friends in the Language Hub.
      </p>
      <div
        class="w-48 h-12 px-5 py-4 bg-orange-500 rounded-lg justify-center items-center gap-2.5 inline-flex">
        <button class="text-white text-base font-bold font-inter leading-none"
          >Get started for free</button
        >
      </div>
    </div>

    <!-- Right Side -->
    <div class="w-2/3 flex justify-end">
      <div class="relative">
        <div class="!z-40">
          <img
            src="./heroSection/main-hero-graphic.svg"
            alt="Hero Image "
            class="rounded-lg w-[421px] h-[390px] z-20"
          />
        </div>
        <div class="!z-10 absolute top-[-39px] left-[-114px]">
          <div class="relative">
            <!-- Circle SVG -->
            <img src="./heroSection/dashed-circles.svg" alt="circle" class="" />

            <!-- Small Rounded Images -->
            <div
              class="absolute top-[-2px] left-[217px] w-16 h-16 rounded-full overflow-hidden">
              <img
                src="./heroSection/hero-avatar-3.svg"
                alt="Image 1"
                class="w-16 h-16"
              />
            </div>
            <div
              class="absolute top-[45px] left-[11px] w-16 h-16 rounded-full overflow-hidden">
              <img
                src="./heroSection/hero-avatar-2.svg"
                alt="Image 2"
                class="w-16 h-16"
              />
            </div>
            <div
              class="absolute top-[259px] left-[12px] w-16 h-16 rounded-full overflow-hidden">
              <img
                src="./heroSection/hero-avatar-1.svg"
                alt="Image 3"
                class="w-16 h-16"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
